/* Enter your custom styles here */
.inputc{
    left: -60px;
    top: -5px;
}
.inpute{
    left: -60px;
    top: -5px;
}
.centro{
    text-align: center;
}
.btnconsultar{
    left: -60px;
    top: -7px;
}